<html>
    <head>
        <style>
        
          th, td {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
table {
  border-spacing: 20px;
  position: absolute;
  top: 60px;
}
.tb{
    border: 1px solid black;
    border-collapse: collapse;
}
th{
    border: 1px solid black;
    border-collapse: collapse;
}
td{
    border:1px solid black
}
h1{
    padding-top: 10px;
    background-color: yellow;
    width: 550px;
    border: 2px solid black;
}
        </style>
        <body>
            <table class="tb">
                <h1>Inventory Table</h1>
                <tr>
                 <th class="inventory">Product_id</th>
                 <th class="type">Product_type</th>
                 <th class="name">Product_name</th>
                 <th class="price">Product_name</th>
                 <th class="quantity">Available_quantity</th>
                </tr>
            <% for (let i=0;i<user.length;i++) {%>
                    <tr>
                     <td><%= user[i].Product_id %></td>
                     <td><%= user[i].Product_type %></td>
                     <td><%= user[i].Product_name%></td>
                     <td><%= user[i].Product_price%></td>
                     <td><%= user[i].Available_quantity %></td>
                    </tr>      
            <% } %>
        </table>
        </body>
    </head>
</html>